/* Mobile */
@media (max-width: 349px) {
    #contact {
        margin: 0 5%;
    }
}

@media (min-width: 350px) and (max-width: 409px) {
    #contact {
        margin: 0 7%;
    }
}

@media (min-width: 410px) and (max-width: 599px) {
    #contact {
        margin: 0 10%;
    }
}

@media (min-width: 600px) and (max-width: 740px) {
    #contact {
        margin: 0 12%;
    }
}

/* Tablet */
@media (min-width: 741px) and (max-width: 819px) {
    #contact {
        margin: 0 10%;
    }
}

@media (min-width: 820px) and (max-width: 1060px) {
    #contact {
        margin: 0 10%;
    }
}

/* Laptop */
@media (min-width: 1061px) and (max-width: 1600px) {
    #contact {
        margin: 0 15%;
    }
}

/* PC */
@media (min-width: 1601px) {
    #shortCV {
        font-size: 24px;
    }
    #downFullCV {
        font-size: 22px;
    }
    h1 {
        font-size: 32px;
        font-weight: 600;
    }
    h2 {
        font-size: 28px;
        line-height: 28px;
    }
    h3 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
    }
    html, body {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-family: K2D;
        font-size: 18pt;
    }
}
