/* Mobile */
@media (max-width: 349px) {
    #contact .my-info {  
        width: 80vw;
    }
    #contact .avatar img {
        width: 160px;
        height: 160px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 90vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 80px;
    }
    #contact #my-name {
        text-align: center;
    }
}

@media (min-width: 350px) and (max-width: 409px) {
    #contact .my-info {  
        width: 80vw;
    }
    #contact .avatar img {
        width: 180px;
        height: 180px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 90vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 92px;
    }
    #contact #my-name {
        text-align: center;
    }
}

@media (min-width: 410px) and (max-width: 599px) {
    #contact .my-info {  
        width: 70vw;
    }
    #contact .avatar img {
        width: 180px;
        height: 180px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 90vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 100px;
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 740px) {
    #contact .my-info {  
        width: 60vw;
    }
    #contact .avatar img {
        width: 180px;
        height: 180px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 90vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 120px;
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 741px) and (max-width: 819px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
        line-height: 18px;
    }
    #contact .my-info {  
        width: 60vw;
    }
    #contact .avatar img {
        width: 160px;
        height: 160px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 80vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 120px;
        font-size: 16px;
    }
}

@media (min-width: 820px) and (max-width: 1060px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
        line-height: 18px;
    }
    #contact .my-info {  
        width: 60vw;
    }
    #contact .avatar img {
        width: 160px;
        height: 160px;
        margin-top: 2vh;
    }
    #contact .navigation {
        width: 80vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 120px;
        font-size: 16px;
    }
}

/* Laptop */
@media (min-width: 1061px) and (max-width: 1600px) {
    #contact .navigation {
        width: 80vw;
    }
}

/* PC */
@media (min-width: 1601px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
    }
    #contact .my-info {  
        width: 50vw;
        margin-top: 10px;
    }
    #contact .avatar img {
        margin-top: 6vh;
        width: 200px;
        height: 200px;
    }
    #contact .navigation {
        margin-top: 32px;
        width: 60vw;
        justify-content: space-evenly;
    }
    #contact .navigation .navigation-button {
        width: 160px;
        height: 40px;
        font-size: 18px;
    }
}
