/* Mobile */
@media (max-width: 740px)
{
    #contact {
        margin: 0 5%;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1060px) and (min-height: 230px) and (max-height: 360px)
{
    #contact {
        margin: 0 10%;
    }
}
@media (min-width: 740px) and (max-width: 768px) and (max-height: 230px)
{
    #contact {
        margin: 0 10%;
    }
}
@media (min-width: 740px) and (max-width: 768px) and (min-height: 360px)
{
    #contact {
        margin: 0 10%;
    }
}
@media (min-width: 768px) and (max-width: 1060px) and (max-height: 230px)
{
    #contact {
        margin: 0 10%;
    }
}
@media (min-width: 768px) and (max-width: 1060px) and (min-height: 360px)
{
    #contact {
        margin: 0 10%;
    }
}
/* PC */
@media (min-width: 1060px)
{

}