@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500&display=swap');

:root {
    --Background: rgb(248, 248, 248);
    --Header1: rgb(35, 35, 35);
    --Header2: rgb(55, 55, 55);
    --Header3: rgb(75, 75, 75);
    --Header4: rgb(100, 100, 100);
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: K2D;
    font-size: 14pt;
}
body {
    background-color: var(--Background);
}

ul {
    list-style: none;
}

a {
    /* text-decoration: none; */
}

a:hover {
    opacity: 0.6;
}

:root::-webkit-scrollbar{
	width: 5px;
    background-color: transparent;
}
:root::-webkit-scrollbar-track{
    background-color: transparent;
}
:root::-webkit-scrollbar-thumb{
	background-color: gray;
    border-radius: 12px;
}
:root::-webkit-scrollbar-corner {
    display: none;
}

h1 {
    color: var(--Header1);
    font-size: 28px;
    font-weight: 600;
}

h2 {
    color: var(--Header2);
    font-size: 24px;
    line-height: 20px;
}

h3 {
    color: var(--Header3);
    font-size: 22px;
    line-height: 18px;
    font-weight: 400;
}

h4 {
    color: var(--Header4);
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
}

.pbreak {
    margin-top: 28px;
    width: 350px;
    height: 3px;
    background-color: var(--Header1);
    border-radius: 3px;
    margin-top: 3%;
    margin-left: calc(50% - 175px);
}

/* Content */
#content {
    padding: 4vh 4vw;
}

/* End Content */



/* Introduction */
#contact {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding-top: 1%;
    margin: 0 30%;
}
.contact-button {
    display: inline-flex;    
}
.contact-button img {
    max-width: 40px;
    transition: all 150ms linear;
}
.contact-button :hover {
    transform: scale(1.2);
}
/* End Introduction */



/* Projects */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
table tr:first-child {
    background-color: #eee;
    position: sticky;
    top: 0;
    font-weight: 600;
}
td {
    padding: 1rem 2rem;
    text-align: center;
    border: 1px solid #ccc;
}
/* End Projects */



/* Papers */

/* End Papers */



/* Curriculum Vitae */

/* End Curriculum Vitae */



/* Pictures */
#photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 25%;
}
#photos img {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in;
    cursor: zoom-in;

    transition: all 150ms linear;
}
#photos img:hover {
    transform: scale(1.05);
    transition: all 150ms linear;
}

.half {
    margin-top: 5%;
    min-width: calc(50% - 2.5%);
    max-width: calc(50% - 2.5%);
    min-height: calc(50% - 2.5%);
    max-height: calc(50% - 2.5%);
}
.full {
    margin-top: 5%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

}

    /* Start Vietnam Map */

#map{
    margin-left: 15%;
}

#map svg{
    height: 100%;
    width: 80%;
}

#map svg path:hover{
    opacity: .6;
    cursor: pointer;
    transition: all 200ms linear;
}

#province{
    /* border: 8px solid rgba(22, 22, 22, 0.9); */
    /* padding: 8px; */
    position: fixed;
    transform: translate(-50%, -100%);
    top: 30vh;
    left: 50vw;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    border-radius: 12px;
    background: radial-gradient(circle, rgba(228,234,230,0.7) 20%, rgba(238,236,234,0.75) 40%, rgba(224,228,232,0.8) 55%, rgba(238,240,242,0.85) 70%, rgba(250,246,242,0.9) 85%, rgba(250,250,250,0.4) 100%);
    /* box-shadow: 0 0 0 4px rgb(171, 222, 230); */
    box-shadow: 2px 5px 8px 4px rgba(0, 0, 0, 0.4);
    transition: all 200ms linear;
}

#province #province-name{
    margin: .5rem;
    font-weight: bold;
}

#province #picture-description{
    margin: .5rem;
}

.untraveled
{
    fill: #d68074;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}

.traveled
{
    fill: #77DD77;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}

.travel-alone
{
    fill: #77cfdd;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}

#province #traveled-picture{
    height: auto; 
    width: auto; 
    max-width: 15rem; 
    max-height: 13rem;
    border-radius: 16px 16px 0 0;
    padding: 8px 8px 0 8px;
    display: none;
}
    /* End Vietnam Map */

/* End Pictures */